<!DOCTYPE html>

<html lang="en">
<head>
	<title>Michael Park</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
	<div class="banner">
		<a href="/" id="banner">	<!--Add margin and style later-->
    		Michael Park
  		</a>
  	</div>
	<br><br><br>
	<hr>
	<div class="center_container">
  		<div class="profile">
  			<img id="profile" src="static/img/sample.png">
	  		<p>
	  			<br>
	  			<div>Fourth year Electrical and Computer Engineering student at</div> 
	  			<div>The University of Texas at Austin.</div>
	  			<br>
	  	   		<!-- <div>I learn everyday to (In any setence state my field of interest) </div> -->
	  		</p>
		</div>
	</div>
	<hr>

	<div class="center_container">
		<div class="container">
				<a href="https://github.com/michae1park"><img src="static/img/socicon-github.png" width="250%"></a>
		</div>
		<div class="container">
			<a href="https://www.linkedin.com/pub/michael-park/91/665/82b"><img src="static/img/socicon-linkedin.png" width="250%"></a>
		</div>
	</div>

	<br><br>
	<div class="center_container">
		<div class="content_container">
			<div><label>Projects</label></div>
			<div>
				<a>BlahProj</a>
			</div>
		</div>
		<div class="content_container">
			<div><label>Blog<label></div>
		</div>
	</div>
</body>
</html>
